.header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: var(--primary-accent);
  /* position: fixed; with this the animation is not working */
  top: 0;
  left: 0;
  width: 100vw;
}

.navLink {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: var(--text-md);
  margin: 0.625rem 0rem;
  color: white;
  display:inline-block;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
}

.menuToggler {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuToggler:focus {
  outline: none;
}

.closeIcon {
  color: white;
  font-size: 1.75rem;
  /* display: flex;
  justify-content: center; */
}

.topHeader {
  display: flex;
  justify-content: space-between;
}