.header {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background-color: var(--primary-accent);
}

.navLink {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: var(--text-md);
    margin: 0.625rem 0rem;
    color: white;
    display: inline-block;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 2.2rem;
}

.closeIcon,
.openIcon {
    color: white;
    font-size: 1.75rem;
}

.topHeader {
    display: flex;
    justify-content: space-between;
}

.menuToggler {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: var(--primary-foreground-inv);
}

.menuToggler:focus {
    outline: none;
}

.mobileNavWrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mobileMenu {
    /* width: 100vw; */
    padding: 1rem 1rem;
}

@media screen and (min-width: 768px) {
    .mobileMenu {
        display: none;
    }
}